<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diwali</title>
    <style>
        body{text-align: center ; background-color:rgb(205, 120, 216)}
        h1{ color:rgba(0, 17, 73, 0.877)}
        h2{ color:rgba(0, 17, 73, 0.877) ; font-weight:bold}

    </style>
</head>
<body>
    {% if DIWALI %}
        <h1>HAPPY DIWALI</h1>
        <h1>have a safe and happy diwali</h1>
        <h1>tomorrow also</h1>
        <h2> Don't burn so many crackers and cause pollution</h2>
        <h2>celebrate DIWALI as festival of lights ,not festival of pollution</h2>
    {% else %}
        <h1>not today</h1>
    {% endif %}
</body>
</html>
